## Business Understanding

### Defining the Problem Statement

The dataset aims to identify tax fraud.One of the most common types of tax frauds entails under reporting of one's tax return with a lesser tax base . As a result , fiscal are reduced, underminng public investment in much-needed services

### Evaluation Metric 
1. Root Mean Squared Error

### Main Objective 
>> To detect tax fraud that is able to look at the individuals spending and compare it with the tax return to be able to determine the individuals tax base

## Data Understanding

Load Libraries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

Load Data

In [3]:
def read_data(path):

    """A simple function to load in the dataset"""

    data = pd.read_csv(path)

    return data

df = read_data(r'C:\Users\user\Documents\Tunisian Fraud Detection Challenge\SUPCOM_Train.csv')
df.head()

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,44,6210,C,99,0,3707,4,2,2,2,...,16.639203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id17437
1,401,14383,M,22,0,6105,4,2,2,2,...,17.827703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id5086
2,243,11555,M,23,0,5751,4,2,2,2,...,15.473503,25387000.0,0.0,0.0,4571280.0,NaN,NaN,NaN,NaN,train_id1443
3,72,6175,C,99,0,4402,4,2,2,2,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id15469
4,42,1417,M,23,0,6302,4,2,2,2,...,14.286244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id14368

In [7]:
def check_info_shape(data):
    
    """A simple function to check the information and shape of our dataset"""

    print(f'The Dataset contains {data.shape} rows and columns')
    print('*****************************************************')
    print('*****************************************************')
    print(f'with {data.shape[0]} number of rows')
    print('*****************************************************')
    print('*****************************************************')
    print(f'and {data.shape[1]} number of columns')
    print('*****************************************************')
    print('*****************************************************')
    print(data.info())

check_info_shape(df)

The Dataset contains (21295, 121) rows and columns
*****************************************************
*****************************************************
with 21295 number of rows
*****************************************************
*****************************************************
and 121 number of columns
*****************************************************
*****************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21295 entries, 0 to 21294
Columns: 121 entries, BCT_CODBUR to id
dtypes: float64(103), int64(16), object(2)
memory usage: 19.7+ MB
None

In [8]:
def check_columns(data):

    """A simple function t0 check the columns of the dataset"""

    col = data.columns

    return col

check_columns(df)

Index(['BCT_CODBUR', 'CTR_MATFIS', 'CTR_CATEGO_X', 'FJU_CODFJU', 'CTR_CESSAT',
       'ACT_CODACT', 'CTR_OBLDIR', 'CTR_OBLACP', 'CTR_OBLRES', 'CTR_OBLFOP',
       ...
       'target', 'FAC_MNTPRI_F', 'FAC_MFODEC_F', 'FAC_MNTDCO_F',
       'FAC_MNTTVA_F', 'FAC_MNTPRI_C', 'FAC_MFODEC_C', 'FAC_MNTDCO_C',
       'FAC_MNTTVA_C', 'id'],
      dtype='object', length=121)

In [10]:
def statistical_analysis(data):
    """A simple fuction function to check on the descriptive analysis of the data"""

    stat_analysis = data.describe()

    return stat_analysis

statistical_analysis(df)

,BCT_CODBUR,CTR_MATFIS,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,CTR_OBLTFP,...,RES_ANNIMP,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C
count,21295.000000,21295.000000,21295.000000,21295.000000,21295.000000,21295.000000,21295.000000,21295.000000,21295.000000,21295.000000,...,21295.000000,21295.000000,1.820000e+03,1.820000e+03,1.820000e+03,1.820000e+03,2.113000e+03,2.113000e+03,2.113000e+03,2.113000e+03
mean,214.935807,7797.448697,59.580888,0.048509,4821.595445,4.454191,1.959850,1.977319,1.928105,1.949096,...,2014.508852,11.780084,9.471275e+09,6.632605e+06,9.306873e+04,4.903870e+08,8.420356e+08,1.489097e+06,3.191820e+04,1.386915e+08
std,162.992837,4484.430937,38.542427,0.228200,1168.628546,1.205500,0.196316,0.154462,0.263361,0.221933,...,1.332947,7.085772,1.297572e+11,2.091579e+08,3.596381e+06,4.739676e+09,4.107717e+09,1.733094e+07,7.106121e+05,7.148914e+08
min,9.000000,1.000000,10.000000,0.000000,1002.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2013.000000,0.000000,2.173000e+04,0.000000e+00,0.000000e+00,0.000000e+00,4.910000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,92.000000,3944.000000,22.000000,0.000000,4203.000000,4.000000,2.000000,2.000000,2.000000,2.000000,...,2013.000000,0.000000,3.024577e+07,0.000000e+00,0.000000e+00,4.360140e+06,1.906574e+07,0.000000e+00,0.000000e+00,2.927028e+06
50%,182.000000,7817.000000,23.000000,0.000000,4417.000000,4.000000,2.000000,2.000000,2.000000,2.000000,...,2014.000000,14.981121,1.997162e+08,0.000000e+00,0.000000e+00,2.989651e+07,5.594731e+07,0.000000e+00,0.000000e+00,8.642968e+06
75%,254.000000,11695.500000,99.000000,0.000000,6102.000000,4.000000,2.000000,2.000000,2.000000,2.000000,...,2015.000000,16.625623,9.257110e+08,0.000000e+00,0.000000e+00,1.426512e+08,2.707424e+08,0.000000e+00,0.000000e+00,4.414594e+07
max,700.000000,15603.000000,99.000000,2.000000,8999.000000,9.000000,2.000000,5.000000,5.000000,3.000000,...,2018.000000,23.591334,3.414507e+12,8.897885e+09,1.529912e+08,1.608777e+11,8.351128e+10,4.044067e+08,2.614500e+07,1.352152e+10

In [16]:
def data_types(data):

    """A simple function to check the data types on the dataset"""

    print('The dataset has', len(data.select_dtypes(include='number').columns),'numeric columns')
    print('and', len(data.select_dtypes(include='object').columns), 'categorical columns')
    print('*****************************************************************************')
    print('*****************************************************************************')
    print('The numeric columns include :', data.select_dtypes(include='number').columns)
    print('The categorical columns include :', data.select_dtypes(include='object').columns)

data_types(df)

The dataset has 119 numeric columns
and 2 categorical columns
*****************************************************************************
*****************************************************************************
The numeric columns include : Index(['BCT_CODBUR', 'CTR_MATFIS', 'FJU_CODFJU', 'CTR_CESSAT', 'ACT_CODACT',
       'CTR_OBLDIR', 'CTR_OBLACP', 'CTR_OBLRES', 'CTR_OBLFOP', 'CTR_OBLTFP',
       ...
       'RES_ANNIMP', 'target', 'FAC_MNTPRI_F', 'FAC_MFODEC_F', 'FAC_MNTDCO_F',
       'FAC_MNTTVA_F', 'FAC_MNTPRI_C', 'FAC_MFODEC_C', 'FAC_MNTDCO_C',
       'FAC_MNTTVA_C'],
      dtype='object', length=119)
The categorical columns include : Index(['CTR_CATEGO_X', 'id'], dtype='object')

## Data Cleaning

Duplicates

In [17]:
duplicates = []

def check_duplicates(data):

    """A simple function to check the duplicates in the dataset"""

    for i in data.duplicated():
        duplicates.append(i)
    duplicates_set = set(duplicates)
    if (len(duplicates_set) == 1):
        print('The Dataset has no duplicates')

    else:
        duplicates_percentage = np.round(((sum(duplicates)/len(data)) * 100 ), 2)
        print(f'Duplicated rows constitue of {duplicates_percentage} of the dataset')

check_duplicates(df)

The Dataset has no duplicates

Missing Values

In [24]:
def missing_values(data):

    """A simple function that returns a dataframe of the missing values in the dataste"""

    missing_values = data.isnull().sum().sort_values(ascending=False)

    missing_val_percent = ((data.isnull().sum()/len(data)).sort_values(ascending=False))

    """creating a dataframe containing missing values and their percentages"""

    missing_df = pd.DataFrame({'Missing Vlaues' : missing_values, 'Percentage %' : missing_val_percent})

    return missing_df[missing_df['Percentage %'] > 0.6]

missing_values(df)

              Missing Vlaues  Percentage %
SND_MNTPAY_E           20064      0.942193
SND_MNTTVA_E           20064      0.942193
SND_MNTAVA_E           20064      0.942193
SND_MNTTAX_E           20064      0.942193
SND_MNTPRD_E           20064      0.942193
SND_MNTAIR_E           20064      0.942193
SND_MNTDRC_E           20064      0.942193
FAC_MFODEC_F           19475      0.914534
FAC_MNTTVA_F           19475      0.914534
FAC_MNTDCO_F           19475      0.914534
FAC_MNTPRI_F           19475      0.914534
FAC_MNTTVA_C           19182      0.900775
FAC_MNTDCO_C           19182      0.900775
FAC_MFODEC_C           19182      0.900775
FAC_MNTPRI_C           19182      0.900775
SND_MNTAVA_A           18396      0.863865
SND_MNTPRD_A           18396      0.863865
SND_MNTTVA_A           18396      0.863865
SND_MNTDRC_A           18396      0.863865
SND_MNTPAY_A           18396      0.863865
SND_MNTTAX_A           18396      0.863865
SND_MNTAIR_A           18396      0.863865
SND_MNTAIR_I           17596      0.826297
SND_MNTTAX_I           17596      0.826297
SND_MNTDRC_I           17596      0.826297
SND_MNTTVA_I           17596      0.826297
SND_MNTPRD_I           17596      0.826297
SND_MNTPAY_I           17596      0.826297
SND_MNTAVA_I           17596      0.826297
ADB_MNTORD             15938      0.748439